<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ PROJECT_NAME }}{% endblock %} - {{ PROJECT_NAME }}</title>
        <link rel="stylesheet" href="{{ asset('dist/lib/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/assets/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'includes/header.html.twig' %}

        {% block body %}{% endblock %}

        <script src="{{ asset('dist/lib/js/jquery.min.js') }}"></script>
        <script src="{{ asset('dist/lib/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        {% include 'includes/footer.html.twig' %}
    </body>
</html>
